/* Base Candidates */
.pill.unround > * { border-radius:0; }
.scroll { overflow: auto; }

/* MapBox.js Candidate */
.leaflet-container .button,
.leaflet-container .button:hover { color:#fff; }

/* Feeling guilty with this one */
.pad2r { padding-right:20px; }

.user-nav {
  width:180px;
  margin:10px;
  right:0;
  left:auto;
  }
  .user-nav .user-actions a:hover {
    background:#f8f8f8;
    }

body, .container {
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  }
.map {
  background:#73b5e5;
  width:100%;
  height:100%;
  overflow:hidden;
  }
.alert-bar,
.module {
  z-index:5000;
  }
.drop {
  margin-top:10px;
  }

.intro-hint {
  margin:10px auto;
  opacity:0.5;
  font-size:small;
  border-top:1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
  }
.intro-hint:hover {
  opacity:1;
  }
.error-marker {
  width:10px;
  height:1.5em;
  background:#EAB;
  transition:all 100ms;
  -webkit-transition:all 100ms;
  }
.error-marker:hover {
  background:#D68;
  }
.error-marker:before {
  opacity:0;
  pointer-events:none;
  content:attr(message);
  transition:all 100ms;
  -webkit-transition:all 100ms;
  width:300px;
  font-size:10px;
  padding:5px;
  border:1px solid #000;
  position:absolute;
  background:#fff;
  z-index:999;
  }
.error-marker:hover:before {
  opacity:1;
  margin-left:35px;
  }
.leaflet-container .leaflet-control-attribution {
  background:none;
  box-shadow:none;
  }
.leaflet-popup-content-wrapper table input {
  width:120px;
  background:transparent;
  }
.scrollable {
  overflow:auto;
  }
.dragover {
  opacity:0.6;
  }
.modal-message {
  display:none;
  }
.dragover .modal-message {
  position:fixed;
  left:50%;
  top:50%;
  text-align:center;
  }

/* Custom Scrollbar
------------------------------------------------ */
.module *::-webkit-scrollbar {
  width:8px;
  height:8px;
  border-left:0;
  background: rgba(0,0,0,.1);
  }
.module *::-webkit-scrollbar-track {
  background:none;
  }
.module *::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,.1);
  border-radius: 0;
  }
.module *::-webkit-scrollbar:hover {
  background: rgba(0,0,0,.15);
}

/* Data table
------------------------------------------------ */
.data-table .controls {
  text-align:center; 
  margin-bottom:20px;
  clear:left;
  }
  .data-table .controls button {
    display:block;
    width:16.6666%;
    margin-left:41.6666%%;
    }

.data-table {
  font-size:12px;
  line-height:20px;
  }
.data-table table {
  width:83.3333%;
  overflow:auto;
  display:block;
  height:240px;
  margin-left:08.3333%;
  }
.data-table table button {
  display:inline;
  background:transparent;
  padding:0;
  color:#3887be;
  margin:0 0 2px 5px;
  height:auto;
  visibility:hidden;
  }
.data-table table th:hover button {
  visibility:visible;
  }
.data-table input {
  border:none;
  }

/* Leaflet draw plugin
------------------------------------------------ */
.leaflet-control.leaflet-draw {
  background:transparent;
  margin:20px 0;
  }
.leaflet-control .leaflet-draw-section {
  background:#000;
  background:rgba(0,0,0,0.75);
  margin-top:5px;
  border-radius:0 3px 3px 0;
  padding:5px 10px 10px;
  }
.leaflet-control.leaflet-draw .leaflet-bar {
  background:transparent;
  border:none;
  }
.leaflet-draw-toolbar {
  margin:0;
  }
.leaflet-control .leaflet-draw-toolbar > a {
  background:transparent url('img/sprite.png') no-repeat 0 0;
  background-size:30px 180px;
  width:30px;
  height:30px;
  border:none;
  border-radius:3px;
  margin-top:5px;
  }
  .leaflet-control .leaflet-draw-toolbar .leaflet-draw-toolbar-button-enabled,
  .leaflet-draw-toolbar > a:hover {
    background-color:#000;
    }

.leaflet-control.leaflet-draw .leaflet-draw-draw-polyline   { background-position:0 0; }
.leaflet-control.leaflet-draw .leaflet-draw-draw-polygon    { background-position:0 -30px; }
.leaflet-control.leaflet-draw .leaflet-draw-draw-rectangle  { background-position:0 -60px; }
.leaflet-control.leaflet-draw .leaflet-draw-draw-marker     { background-position:0 -90px; }
.leaflet-control.leaflet-draw .leaflet-draw-edit-edit       { background-position:0 -120px; }
.leaflet-control.leaflet-draw .leaflet-draw-edit-remove     { background-position:0 -150px; }

.leaflet-draw-actions {
  left:50px;
  bottom:3px;
  top:inherit!important;
  }
.leaflet-draw-actions a {
  background:#f1f075;
  color:rgba(0,0,0,0.75);
  height:30px;
  line-height:30px;
  font-size:12px;
  font-weight:bold;
  padding:0 10px;
  margin-bottom:1px;
  border:none!important;
  border-radius:0 3px 3px 0!important;
   -webkit-box-sizing:initial;
      -moz-box-sizing:initial;
           box-sizing:initial;

  }
  .leaflet-draw-actions a:hover {
    background:#f1f075;
    color:#000;
    }

@media
  (-webkit-min-device-pixel-ratio:2),
  (min-resolution:192dpi) {
    .leaflet-draw-section a {
      background-image:url('img/sprite@2x.png');
    }
  }

/* Codemirror syntax highlighting
------------------------------------------------ */
.CodeMirror {
  color: rgba(0,0,0,.5);
  font-family:Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  font-size:12px;
  line-height:20px;
  height:295px;
  }

/* Prose Bright Theme
 -------------------- */
/* Dark Grey */
.cm-s-eclipse                    { color:#3D494E; }
.cm-s-eclipse span.cm-header     { color:#3D494E; font-weight:bold;}
.cm-s-eclipse span.cm-variable-2 { color:#3D494E; }

/* Medium Grey */
.cm-s-eclipse span.cm-meta       { color:#516066; }
.cm-s-eclipse span.cm-hr         { color:#516066;}

/* Lighter Grey */
.cm-s-eclipse span.cm-comment    { color:#868f93; }
.cm-s-eclipse span.cm-qualifier  { color:#868f93; }

/* Dark Blue/Green */
.cm-s-eclipse span.cm-number     { color:#197987; }
.cm-s-eclipse span.cm-variable   { color:#197987; }
.cm-s-eclipse span.cm-builtin    { color:#197987; }
.cm-s-eclipse span.cm-link       { color:#197987; text-decoration:underline;}
.cm-s-eclipse span.cm-tag        { color:#197987; }

/* Medium Blue/Green */
.cm-s-eclipse span.cm-string     { color:#48abb9; }
.cm-s-eclipse span.cm-string-2   { color:#48abb9; }
.cm-s-eclipse span.cm-quote      { color:#48abb9;}
.cm-s-eclipse span.cm-atom       { color:#48abb9; }

/* Turtle Green */
.cm-s-eclipse span.cm-property   { color:#82a367; }
.cm-s-eclipse span.cm-operator   { color:#82a367; }
.cm-s-eclipse span.cm-variable-3 { color:#82a367; }

/* Light Turtle Green */
.cm-s-eclipse span.cm-attribute  { color:#90bb74; }
.cm-s-eclipse span.cm-def        { color:#90bb74; }

/* Brick */
.cm-s-eclipse span.cm-keyword    { color:#ec6c45; }
.cm-s-eclipse span.cm-bracket    { color:#ec6c45; }

/* Darker Brick */
.cm-s-eclipse span.cm-error      { color:#e45346; }

.cm-s-eclipse span.cm-em         { font-style:italic; }
.cm-s-eclipse span.cm-strong     { font-weight:bold; }

/* Tooltips
------------------------------------------------ */
.tooltip {
  position:absolute;
  display:none;
  text-align:left;
  font-size:12px;
  line-height:20px;
  }
.tooltip.in {
  opacity:0.8;
  z-index:1030;
  height:auto;
  display:block;
  }
.tooltip.top {
  margin-top:-20px;
  text-align:center;
  }
.tooltip.right {
  margin-left:20px;
  }
.tooltip.bottom {
  margin-top:20px;
  text-align:center;
  }
.tooltip.left {
  margin-left:-20px;
  text-align:right;
  }
.tooltip-inner {
  display:inline-block;
  max-width:200px;
  min-width:80px;
  padding:10px;
  font-weight:normal;
  background-color:white;
  }
.tail {
  background:transparent;
  position:absolute;
  width:200px;
  height:400px;
  pointer-events:none;
  opacity:0.8;
  margin-top:-200px;
  }
  .tail:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    right: -5px;
    margin-top: -5px;
    border-left-color: white;
    border-width: 5px 0 5px 5px;
    }

.tail div {
  background:white;
  position:absolute;
  padding:10px;
  top:180px;
  left:0;
  right:0;
  margin:auto;
  }
.left.tail:after {
  content:'';
  position:absolute;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  top:50%;
  left:-5px;
  margin-top:-5px;
  border-right-color:white;
  border-width:5px 5px 5px 0;
  }
.tooltip-arrow {
  position:absolute;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  }
.tooltip.top .tooltip-arrow {
  border-top-color:white;
  bottom:-5px;
  left:50%;
  margin-left:-5px;
  border-width:5px 5px 0;
  }
.tooltip.right .tooltip-arrow {
  top:50%;
  left:-5px;
  margin-top:-5px;
  border-right-color:white;
  border-width:5px 5px 5px 0;
  }
.tooltip.left .tooltip-arrow {
  top:50%;
  right:-5px;
  margin-top:-5px;
  border-left-color:white;
  border-width:5px 0 5px 5px;
  }
.tooltip.bottom .tooltip-arrow {
  top:-5px;
  left:50%;
  margin-left:-5px;
  border-bottom-color:white;
  border-width:0 5px 5px;
  }

.keyhint-wrap {
  background:#F6F6F6;
  padding:10px;
  margin:10px -10px -10px;
  }
.tooltip-inner .keyhint {
  font-size:12px;
  padding:0 7px;
  font-weight:bold;
  display:inline-block;
  border-radius:2px;
  border:1px solid #CCC;
  position:relative;
  z-index:1;
  text-align:left;
  }
  .tooltip-inner .keyhint:after {
    content:'';
    position:absolute;
    border-radius:2px;
    height:10px;
    width:100%;
    z-index:0;
    bottom:-4px;
    left:-1px;
    border:1px solid #CCC;
    border-top:0;
    }
